doctype html
link(rel='stylesheet' href='css/style.css')

head
    title My First Full Stack
body
    h1 MY TODO APP
    h2 What Do You Need To Do?
    form(action='/' method='post')
        label(for='todo') TODO
        br
        input#todo(type='text' name='todo')
        br
        br
        input#submit(type='submit' value='Add')
    hr
    h1 My TODO List 
    ul
    - for (let i = 0; i < tasks.length; i++)
        li= tasks[i].id + " " + tasks[i].task
            form(action="/delete", method="post")
                input(type="hidden", name="id" value=tasks[i].id)
                input#delete(type="submit", value="Delete")

